body {
    font-family: Arial;
    margin: 20px;
    background: #e9ecef;
}

h1 {
    color: #007BFF;
}

.course-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

input, select {
    padding: 5px;
}
